{layout name="layout" /}
<!-- //main-content -->
		<div class="wthree-main-content">
		<!-- Portfolio -->
		<div class="agileits Portfolio">
			<div class="container">
				<h2 class="agile-inner-title">Portfolio</h2>
				<!-- Portfolio -->
      <!-- Gallery Section -->
<div class="gallery">
		<section id="gallery" class="parallax section">
					<div class="row">
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/1.jpg" title="This is the description">
							<img src="__IMG__/1.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>			
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/2.jpg" title="This is the description">
							<img src="__IMG__/2.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/3.jpg" title="This is the description">
							<img src="__IMG__/3.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/4.jpg" title="This is the description">
							<img src="__IMG__/4.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/5.jpg" title="This is the description">
							<img src="__IMG__/5.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/6.jpg" title="This is the description">
							<img src="__IMG__/6.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/1.jpg" title="This is the description">
							<img src="__IMG__/1.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/2.jpg" title="This is the description">
							<img src="__IMG__/2.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-4 ggrids">
							<a href="__IMG__/3.jpg" title="This is the description">
							<img src="__IMG__/3.jpg" alt="" />
								<div class="description">
									<span class="caption">Project title</span> 
									<span class="camera"></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</div>	
				</section>
</div>
<!-- For Gallery Section -->
	<script src="js/jquery.localScroll.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/common.js"></script>
<!--// For Gallery Section -->
<!-- //Gallery Section -->
      <!-- /Portfolio -->
			</div>
		</div>
		<!-- // Portfolio -->
		</div>
		<!-- //main-content -->